$tc-color: rgb(255, 255, 255);
$bl-color: #FFDC00;

.more{
  margin-top: 15%;
}
.marginMessage{
  margin-top: 1%;
}
@media (max-width: 1023px) {
  .more{
    margin-top: 25%;
  }
.marginMessage{
  margin-top: 10%;
}
@media (max-width: 850px){
  .more{
    margin-top: 11%;
  }
  .marginMessage{
    margin-top: 5%;
  }
}
}
.headabout{
  font-family: 'Sacramento';
}
.page{
  align-items: center;
}
.star {
  color: #e6fffb; 
  text-shadow: 0 0 0.4rem #e6fff5, 0 0 0.5rem #65fff2,
    -0.2rem 0.1rem 1rem #65ffde, 0.2rem 0.1rem 1rem #65fff7,
    0 -0.5rem 2rem #24ffbd, 0 0.5rem 1.5rem #24ff99;
}
.TypistExample {   
  
  &-header {
    padding-top: 2%;
    filter: drop-shadow(3px 3px 1px #4444dd);
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    color: $tc-color;
    line-height: 8vh;
    width: 90vw;
    @media (max-width: 1023px) {
      line-height: 6vh;
      width: 90vw;
      font-size: 0.80em;

    }
    @media (max-width: 775px ){
      font-size: 0.80em;
      margin-top: 5vh;
    }
    @media (max-width: 425px ){
      font-size: 10vw;
      
      margin-top: 8vh;
    }
    @media (max-width: 361px ){
      font-size: 9vw;
      
      margin-top: 8vh;
    }
    @media only screen and (max-width: 775px) and (max-height:535px ){
      font-size: 0.80em;
      margin-top: 20vh;
    }
    @media  (max-device-width: 1023px) and (orientation: landscape) {
      margin-top: 8vh;
      line-height: 8vh;
    }
  }
  &-message {
  margin-top: 8vh;
  font-size: 0.80em;
  color: $tc-color;
  margin: auto;
  width: 70vw;
    .flash {
      color: $bl-color;
      font-weight: bold;
      text-decoration: underline;
      margin: auto;
      animation-name: blinker;
      animation-duration: 1.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes blinker {
        0% { filter: drop-shadow(3px 3px 10px  rgb(0, 238, 255)) brightness(3); }
        50% { filter: drop-shadow(3px 3px 10px  rgb(5, 5, 5)) brightness(3);}
        100% { filter: drop-shadow(3px 3px 10px  rgb(0, 238, 255)) brightness(3); }
      }
    }
    @media (max-width: 1023px) {
      font-size: 0.50em;
      width: 70vw;

    }
  }
}

